<!DOCTYPE HTML>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Olá Mundo!</title>

    <style>
      body{
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        margin-top: 18%;
        background-color:black;
      }
      .color-text{
        color:red;
        color: red;
        font-size: 100px 
      }    
    </style>
  </head>
  <body>
    <div class="color-text">
               STRANGER THINGS 
    </div>
    </div>
  </body>
</html>